.container {
  height: 30vh;
}

.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 350px;
  height: 200px;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-image: url(https://img.freepik.com/free-vector/blank-white-notepaper-design_53876-118304.jpg?w=740&t=st=1707322460~exp=1707323060~hmac=bb90cfddf770dd631190c0b44cc4ba23d127c36564fc98b03e9cc7b80206e0e9);
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.front {
  background-image: url(https://img.freepik.com/free-photo/paper-texture_1194-5999.jpg?w=1800&t=st=1707246184~exp=1707246784~hmac=e054d0e5f6897383bda388e1a5adea678d184e67263547d4064c1a3506e84a2d);
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.pagination {
  margin-top: 20px;

}